<div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header ">
    <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row ">
            <!-- Title -->
            <span class="mdl-layout-title">THE GOOD$</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <!-- <nav class="mdl-navigation"> -->
            <a class="mdl-navigation__link" id="search" href="/"><i class="material-icons">search</i></a>
            <a class="mdl-navigation__link" id="homeButton" href="/itemMmgt"><i class="material-icons">home</i></a>
            <a class="mdl-navigation__link" id="createItem" href="/newItem"><i class="material-icons">create</i></a>
            <form action="/logout" method="GET">
                <!-- <input > -->
                <a class="mdl-navigation__link" id="logout" href="Logout" type="submit" value="Logout"><i class="material-icons">power_settings_new</i></a>
            </form>
            <!-- </nav> -->
        </div>
    </header>
    <!-- <main class="mdl-layout__content">
  </main> -->
</div>
<div class="containerIndex">
    <table style="color: red">
        <tr>
            <th>Item Name</th>
            <th>Category</th>
            <th>Owner</th>
            <th>Location</th>
            <th>Price Per Hour</th>
            <th>Item Photo</th>
        </tr>
        {{#each items}} {{#unless this.availibility}}
        <tr class="allItemsTable">
            <td>{{this.itemName}}</td>
            <td>{{this.category}}</td>
            <td>{{this.location}}</td>
            <td>{{this.price}}</td>
            <td><img src={{this.itemPhoto}} height="100px" width="100px"></td>
            <td>
                <form id="form1" action="/api/goods/{{this.id}}?_method=DELETE" method="POST"></form>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" form="form1">Delete</button>
            </td>
            <!-- <button class="delete" id="{{this.id}}" href="">Delete</button> -->
        </tr>
        {{/unless}} {{/each}}
    </table>
</div>

