    <table style = "color: red">
  <tr>
    <th>Item Name</th>
    <th>Category</th> 
    <th>Owner</th>
    <th>Location</th>
    <th>Price Per Hour</th>
    <th>Item Photo</th>
  </tr>
  {{#each items}}
    {{#unless this.availibility}}
  <tr class = "allItemsTable">
    <td>{{this.itemName}}</td>
    <td>{{this.category}}</td> 
    <td>{{this.owner}}</td>
    <td>{{this.location}}</td>
    <td>{{this.pricePerHour}}</td>
    <td><img src={{this.itemPhoto}} height="100px" width="100px"></td>
    <form action="/api/goods/{{this.id}}?_method=DELETE" method="POST">
    
      <input type="submit" name="Delete">

    </form>
    <!-- <button class="delete" id="{{this.id}}" href="">Delete</button> -->
  </tr>
     {{/unless}}
  {{/each}} 
</table>
 

